:root {
  --blanco: rgba(242, 242, 242, 1);
  --hueso: rgba(191, 191, 191, 1);
  --gris_claro: rgba(114, 114, 114, 1);
  --gris_oscuro: rgba(38, 38, 38, 1);
  --negro: rgba(12, 12, 12, 1);
  --verde: rgb(43, 233, 187);
}

.carta {
  border: 2px solid var(--hueso);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  transition: transform 0.2s;
  flex: 1;
  max-width: 350px;
}

.carta:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px 6px rgba(var(--verde), 0.2);
}

.card-link {
  text-decoration: none;
  color: var(--blanco);
}

.custom-card-img {
  max-height: 150px;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.card-body {
  padding: 16px;
  background-color: var(--gris_oscuro);
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  text-align: left;
}

.card-title {
  margin-bottom: 12px;
  font-weight: 600;
  color: var(--blanco) !important;
  text-align: center;
}

.card-text {
  margin-bottom: 16px;
  font-size: 1rem;
  color: var(--blanco);
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.custom-button {
  flex: 1;
  margin: 0 5px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  color: var(--blanco);
  border: 1px solid var(--verde) !important;
  background: transparent;
}

.custom-button:hover {
  background: var(--blanco);
  color: var(--gris_oscuro);
}

.tech-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.tech-icon {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .custom-card {
    width: 100%;
  }

  .custom-button {
    font-size: 12px;
    padding: 8px 16px;
  }
}

.cartas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}