  /* Estilos para los botones del chatbot */
  .button-container {
    justify-content: space-between;
    padding: 10px;
  }
  
  .button-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--celeste);
    color: var(--negro);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 5px;
  }
  
  .button-container button:hover {
    background-color: var(--blanco);
    color: var(--negro);
  }
  
  .chat-yo {
    color: var(--celeste);
  }
  
  .chat-santi-bot {
    color: var(--blanco);
  }
  