:root {
  --blanco: rgba(242, 242, 242, 1);
  --hueso: #F1FAEE;
  --negro: rgba(12, 12, 12, 1);
  --rojo: #E63946;
  --celeste: #A8DADC;
  --azul: #457B9D;
  --azul_oscuro: #1D3557;
}


h1, h2, h3 {
  color: var(--blanco) !important;
}

p {
  color: var(--blanco) !important;
}

.resaltador {
  color: var(--celeste) !important;
}
